src/flows/Personal_Program_Plan_Course_After_Save.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Known_Name</name>
        <label>Known Name</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>v_pppcName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Course_to_be_Evaluated__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PPPC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unknown_Name</name>
        <label>Unknown Name</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>v_pppcName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Unknown_Course_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PPPC</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Set_PPPC_Name</name>
        <label>Set PPPC Name</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Unknown_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Unknown</defaultConnectorLabel>
        <rules>
            <name>Lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Course_to_be_Evaluated__r.Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Known_Name</targetReference>
            </connector>
            <label>Lookup</label>
        </rules>
    </decisions>
    <interviewLabel>Personal Program Plan Course - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Personal Program Plan Course - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Course_Transfers</name>
        <label>Get Course Transfers</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_PPPC_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Course_to_be_Evaluated__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Course_Transfer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PPPC</name>
        <label>Update PPPC</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Course_Equivalent__c</field>
            <value>
                <elementReference>Get_Course_Transfers.Course__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Course_to_be_Evaluated__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course_Transfers</targetReference>
        </connector>
        <object>Personal_Program_Plan_Course__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>v_pppcName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
