src/flows/Screen_Flow_Add_New_Courses.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Course_to_PPPC</name>
        <label>Add Course to PPPC</label>
        <locationX>556</locationX>
        <locationY>1262</locationY>
        <assignmentItems>
            <assignToReference>v_personalProgramPlanCourse.Course_to_be_Evaluated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Lookup.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_personalProgramPlanCourse.Education_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_educationHistoryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_personalProgramPlanCourse.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Lookup.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_personalProgramPlanCourse.Unknown_Course_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Course_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_personalProgramPlanCourse.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_PPPC_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_PPPC_to_Collection</name>
        <label>Add PPPC to Collection</label>
        <locationX>419</locationX>
        <locationY>1262</locationY>
        <assignmentItems>
            <assignToReference>coll_PPPCtoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>v_personalProgramPlanCourse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_PPPC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_PPPC</name>
        <label>Clear PPPC</label>
        <locationX>419</locationX>
        <locationY>1443</locationY>
        <assignmentItems>
            <assignToReference>v_personalProgramPlanCourse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>v_nullPPPC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_educationHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Navigation_Course_Lookup_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Var_Education_History_New</name>
        <label>Set Var Education History New</label>
        <locationX>870</locationX>
        <locationY>1025</locationY>
        <assignmentItems>
            <assignToReference>v_educationHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Education_History1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Course_Lookup_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Var_Education_History_New_0</name>
        <label>Set Var Education History New</label>
        <locationX>1022</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>v_educationHistoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Education_History.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Course_Lookup_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Education_History</name>
        <label>Create Education History</label>
        <locationX>1016</locationX>
        <locationY>874</locationY>
        <defaultConnector>
            <targetReference>Set_Var_Education_History_New_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Education_History</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Education_History1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Existing_Personal_Program_Plan_Courses</name>
        <label>Found Existing Personal Program Plan Courses</label>
        <locationX>680</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>School_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Personal_Program_Plan_Courses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Courses</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Navigation_Course_Lookup_Screen</name>
        <label>Navigation - Course Lookup Screen</label>
        <locationX>667</locationX>
        <locationY>1445</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Course_At_Same_School</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Course_0.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Course At The Same School</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Course_Lookup_Screen</targetReference>
            </connector>
            <label>New Course At Same School</label>
        </rules>
        <rules>
            <name>New_Course_At_Different_School</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Course_0.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Course At Different School</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>School_Lookup</targetReference>
            </connector>
            <label>New Course At Different School</label>
        </rules>
        <rules>
            <name>Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Course_0.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PPPC_Records</targetReference>
            </connector>
            <label>Done</label>
        </rules>
    </decisions>
    <decisions>
        <name>School_Found</name>
        <label>School Found?</label>
        <locationX>749</locationX>
        <locationY>723</locationY>
        <defaultConnector>
            <targetReference>schoolNotFoundDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>schoolFoundButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Next</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>schoolNotFoundButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>School Not Found</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>schoolNotFoundDetails</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>v_textAddress</name>
        <dataType>String</dataType>
        <expression>{!schoolNotFoundAddress.street} + &quot; &quot; + {!schoolNotFoundAddress.city} + &quot; &quot; + {!schoolNotFoundAddress.province}+ &quot; &quot; + {!schoolNotFoundAddress.postalCode} +&quot; &quot;+ {!schoolNotFoundAddress.country}</expression>
    </formulas>
    <interviewLabel>Screen Flow - Add New Courses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Add New Courses</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Education_History1</name>
        <label>Create Education History</label>
        <locationX>869</locationX>
        <locationY>875</locationY>
        <connector>
            <targetReference>Set_Var_Education_History_New</targetReference>
        </connector>
        <inputAssignments>
            <field>hed__Account__c</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Contact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Education_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_PPPC_Records</name>
        <label>Create PPPC Records</label>
        <locationX>1170</locationX>
        <locationY>1449</locationY>
        <connector>
            <targetReference>Get_Personal_Program_Plan_Courses</targetReference>
        </connector>
        <inputReference>coll_PPPCtoCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>924</locationX>
        <locationY>725</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Education_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>University_Lookup.selectedValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Education_History</name>
        <label>Get Education History</label>
        <locationX>1025</locationX>
        <locationY>725</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Education_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Education_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Personal_Program_Plan_Courses</name>
        <label>Get Personal Program Plan Courses</label>
        <locationX>1169</locationX>
        <locationY>316</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Existing_Personal_Program_Plan_Courses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Personal_Program_Plan_Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Course_Lookup_Screen</name>
        <label>Course Lookup Screen</label>
        <locationX>878</locationX>
        <locationY>1262</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Course_Lookup_Screen_2</targetReference>
        </connector>
        <fields>
            <name>Course_Lookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Course Lookup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>hed__Course__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>hed__Course__c.hed__Account__r.ParentId = &apos;{!Get_Account.Id}&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>displaytext</name>
            <fieldText>&lt;p&gt;Click Next If Course Isn&apos;t Found&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Course_Lookup_Screen_2</name>
        <label>Course Lookup Screen 2</label>
        <locationX>745</locationX>
        <locationY>1262</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Course_to_PPPC</targetReference>
        </connector>
        <fields>
            <name>Course_Name</name>
            <dataType>String</dataType>
            <fieldText>Course Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Course_Lookup.selectedValue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Course_Code</name>
            <dataType>String</dataType>
            <fieldText>Course Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Course_Lookup.selectedValue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>v_personalProgramPlanCourse.Start_Date__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Course_Lookup.selectedValue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>v_personalProgramPlanCourse.End_Date__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Course_Lookup.selectedValue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>v_personalProgramPlanCourse.Letter_Grade__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Course_Lookup.selectedValue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>v_personalProgramPlanCourse.Awarded_Credit_Hour__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Course_Lookup.selectedValue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Course_0</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;New Course At The Same School&quot;,&quot;value&quot;:&quot;New Course At The Same School&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;New Course At Different School&quot;,&quot;value&quot;:&quot;New Course At Different School&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Done&quot;,&quot;value&quot;:&quot;Done&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <stringValue>yes</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Current_Courses</name>
        <label>Current Courses</label>
        <locationX>515</locationX>
        <locationY>444</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>School_Lookup</targetReference>
        </connector>
        <fields>
            <name>Existing_Personal_Program_Plan_Courses</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Personal_Program_Plan_Course__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Personal_Program_Plan_Course__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Personal_Program_Plan_Courses</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Course_to_be_Evaluated__c,Course_Equivalent__c,Approval_Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Course_to_be_Evaluated__c:190, Course_Equivalent__c:190, Approval_Status__c:190</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>School_Lookup</name>
        <label>School Lookup</label>
        <locationX>688</locationX>
        <locationY>553</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>School_Found</targetReference>
        </connector>
        <fields>
            <name>University_Lookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>School</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>schoolNotFoundButtonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;School Not Found&quot;,&quot;value&quot;:&quot;School Not Found&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>University_Lookup.selectedValue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>schoolFoundButtonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Next&quot;,&quot;value&quot;:&quot;Next&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>University_Lookup.selectedValue</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>schoolNotFoundDetails</name>
        <label>schoolNotFoundDetails</label>
        <locationX>479</locationX>
        <locationY>720</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>School_Name</name>
            <dataType>String</dataType>
            <fieldText>School Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>schoolNotFoundAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>School Address</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>554</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Personal_Program_Plan_Courses</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>coll_PPPCtoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Personal_Program_Plan_Course__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_educationHistoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_nullPPPC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Personal_Program_Plan_Course__c</objectType>
    </variables>
    <variables>
        <name>v_personalProgramPlanCourse</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Personal_Program_Plan_Course__c</objectType>
    </variables>
</Flow>
